<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FocusFlow</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <%- include("partials/navbar") %>

    <div class="hero">
        <h1>FocusFlow</h1>

        <p>
            Organise your goals,track your focus,and build productive habit daily.
        </p>

        <a href="/register" class="btn">Get Started</a>
        
    </div>

    <%- include("partials/footer") %>
</body>
</html>